@media screen and (min-width:1025px) {
    .mob-nav{
      display: none;
    }  
  }
  
  .mob-nav{
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding:15px;
    z-index: 99;
    width: 100%;
    top: -100px;
    transition: all .2s ease;
    @media screen and (max-width: 768px){
      margin-bottom: 60px;
    }
  }

.mob-nav.fixed{
  position: fixed;
  transform: translateY(0);
  top: 0;
}

  .row{
    display: flex;
    justify-content: space-between;
  }
  
  .burger-btn {
    width: 30px;
    height: 25px;
    position: relative;
    float: right;
    cursor: pointer;
    span {
      content: "";
      position: absolute;
      top: 11px;
      width: 30px;
      background-color: #000;
      height: 2px;
    }
  }
  
  .burger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    background-color: #000;
    height: 2px;
  }
  
  .burger-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #000;
    height: 2px;
  }
  
  
  