@media screen and (min-width:1025px) {
    .mob-nav{
      display: none;
    }  
  }
  
  .mob-nav{
    background-color: #fff;
    box-shadow: 0 3px 10px 0px #000;
    padding:15px;
  }

  .row{
    display: flex;
    justify-content: space-between;
  }
  
  .burger-btn {
    width: 30px;
    height: 25px;
    position: relative;
    float: right;
    cursor: pointer;
    span {
      content: "";
      position: absolute;
      top: 11px;
      width: 30px;
      background-color: #000;
      height: 2px;
    }
  }
  
  .burger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    background-color: #000;
    height: 2px;
  }
  
  .burger-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #000;
    height: 2px;
  }
  
  
  