.carCardItem {
  width: 560px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  margin-right: 20px;
  font-family: "Montserrat";
  padding: 25px;
  background-color: #e5e5e1;

  .car-image {
    width: 100%;
  }

  .car-name {
    color: #333;
    font-family: inherit;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
  }

  .car-struct-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;

    .car-struct-list-item {
      display: flex;
      height: 43px;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      color: #000;
      font-size: 25px;
      font-weight: bold;
      background-color: #fff;
      border-radius: 15px;
      margin-top: 12px;

      &:not(:last-child) {
        margin-right: 15px;
      }

      .car-struct-text{
        margin-left: 15px;
        font-weight: 600;

      }

    }
  }

  .car-info {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .car-price {
      color: #19746B;
      font-family: inherit;
      font-size: 31px;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
    }
    .moreButton {
      display: flex;
      height: 35px;
      padding: 7px 18px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      background: #19746B;
      color: #fff;
      font-family: inherit;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: 1px solid #19746B;
      letter-spacing: -0.33px;
    }
  }
}
