$background-color_1: transparent;

.swiper-container {
  height: auto;
  width: 45vw;
  @media screen and (max-width: 768px) {
    width: 90vw;
  }
}

.swiper-button-prev,
.swiper-button-next
{
  background-color: $background-color_1;
  font-size: 24px;

  &:after {
    content: none;
  }
  width: 35px;
  height: 35px;

}

.mySwiper {
  text-align: center;
  display: flex;
  align-items: center;

  img {
    width: 85%;
    margin: 0 auto;
  }
}

