@import '../globalStyles.scss';

.HeaderNav{
    padding: 25px 11vw 0 11vw;
}

.row{
    justify-content: space-between;
    a{
        transition: all 0.3s;
        font-family: "Open Sans";
    }
    a:hover{
        color: #FE9F31;
        transition: all 0.3s;
    }
}