@import url(../globalStyles.scss);


.HeaderNav{
    padding: 25px 3vw 0 3vw;
}

.row{
    justify-content: space-between;
    a{
        transition: all 0.3s;
    }
    a:hover{
        color: #FE9F31;
        transition: all 0.3s;
    }
}