.darker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  top: 25%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 6.25em; 
  border-radius: 1.25rem; 
  display: flex;
  width: 50vw;
  height: 80vh;
}

.close {
  border: 0.1875rem solid #19746b; 
  border-radius: 0.625rem;
  background: #19746b;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.2vw;
  padding: 0.4em;
  width: 15vw;
  margin-top: 40vh; 
  margin-left: -9.375rem; 
}

.text {
  font-size: 2vw;
  text-align: center;
}

.engineSelect {
  background: #fff;
  border: 0.0625rem solid #a4a4a4; 
  border-radius: 0.25rem;
  color: #000;
  font-family: 'Montserrat';
  font-size: 0.9375rem; 
  height: 6vh; 
  margin-left: 1.875rem; 
  padding-left: 0.625em; 
  width: 16.5vw;
}

.input__box,
.input__box2,
.input__box3,
.input__box4 {
  display: flex;
  flex-direction: column;
  gap: 1.875rem; 
  position: relative;
}

.name__input {
  background: #fff;
  border: 0.0625rem solid #a4a4a4;
  border-radius: 0.25rem; 
  color: #000;
  font-family: 'Montserrat';
  font-size: 1.25rem; 
  height: 3.125rem; 
  margin-left: 0.625rem;
  padding: 0.625em; 
  width: 16.5vw; 
}

.name__input_label {
  background: #fff;
  color: #a4a4a4;
  left: 1.25rem; 
  padding: 0 0.3125rem; 
  position: absolute;
  top: -0.625rem; 
}

.input__type {
  margin-left: 1.25rem;
}

.petrol,
.diesel,
.hybrid,
.electric {
  color: #000;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  margin-top: 1.25rem; 
  padding-left: 3.125vw; 
}
