.box {
  justify-content: center;
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
}

.darker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_select {
  position: relative;
  width: 100%;
  max-width: 290px;
}

.close {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1875rem solid #19746b;
  border-radius: 0.625rem;
  background: #19746b;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 25px;
  padding: 1vw;
  width: 290px;
  height: 50px;
  padding-top: 7px;
}

.modalContent {
  width: 700px;
  height: 550px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input__box1,
.input__box2,
.input__box3,
.input__box4 {
  position: relative;
  margin-right: 30px;
  margin-top: 18px;
  max-width: 290px;
}

.name__input {
  border: 0.0625rem solid #a4a4a4;
  border-radius: 6px;
  color: #000;
  font-size: 1.25rem;
  height: 50px;
  padding: 10px;
  margin-right: 20px;
  width: 290px;
  font-family: "Montserrat";
}

.name__input_label {
  background: #fff;
  color: #a4a4a4;
  left: 1.25rem;
  position: absolute;
  top: -0.625rem;
  font-family: "Montserrat";
}

.custom_select_selected {
  height: 50px;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  margin-top: 18px;
  font-family: 'Montserrat';
  padding-top: 13px;
}

.custom_select_option {
  padding: 15px;
  cursor: pointer;
  border: 1px solid #d2d2d2;
  height: 50px;
  font-size: 15px;
  font-family: 'Montserrat';
  padding-right: 60%;
}

.custom_select_option.selected {
  color: black;
}

.custom_select_options {
  position: absolute;
  width: 290px;
  top: 25%;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  padding: 0;
  color: #7a7979;
}

.custom_select_option:hover {
  background: #f2f2f2;
}

.arrow {
  position: absolute;
  top: 14%;
  right: 30px;
}

@media screen and (max-width: 1024px) {
  .close {
    top: 68%;
    width: 25vw;
    font-size: 25px;
    left: 50%;
  }
}

@media screen and (max-width: 850px) {
  .close {
    top: 82%;
  }
  .arrow {
    top: 60%;
    right: 30px;
  }
  .custom_select {
    margin-right: 20px;
  }
  .input__box {
    margin-left: 10px;
  }
  .modalContent {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
  }
  .modalContent {
    width: 400px;
    height: 600px;
  }
  .custom_select_selected {
    height: 4vh;
  }
  .close {
    top: 78%;
    left: 50%;
    width: 28vw;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .input__box1,
  .input__box2,
  .input__box3,
  .input__box4,
  .custom_select_selected {
    width: 290px;
    margin: 0 auto;
    margin-top: 18px;
  }
  .box {
    display: flex;
    justify-content: center;
  }
  .custom_select_selected {
    width: 290px;
    height: 50px;
    justify-content: center;
    padding-right: 30%;
    font-size: 12px;
    margin-left:18px;
  }
  .custom_select {
    width: 290px;
  }
  .box > * {
    width: 80%;
  }
  .custom_select_options {
    width: 290px;
    margin-top: 50px;
    justify-content: center;
    margin-left: 18px;
  }
  .arrow {
    top: 60%;
    right: 0;
  }
}

@media screen and (max-width: 468px) {
  .custom_select_selected {
    width: 260px;
    height: 50px;
    text-align: center;
    margin-right: 30px;
    font-size: 10px;
    margin-left: 15px;
  }
  .close {
    top: 75%;
    width: 40vw;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .custom_select_options {
    width: 260px;
    margin-top: 35px;
    margin-left: 0;
  }
  .name__input {
    width: 260px;
  }
  .arrow {
    top: 60%;
    right: 30px;
  }
  .custom_select_options {
    width: 260px;
    margin-left: 17px;
    margin-top: 50px;
  }
  .modalContent {
    width: 400px;
  }
  .input__box {
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .box {
    padding-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;
    padding: 8%;
  }
  .close {
    width: 60vw;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .custom_select_options {
    width: 260px;
  }
  .text {
    width: 240px;
  }
  .box {
    margin-right: 20px;
  }
  .arrow {
    top: 60%;
  }
}
.arrow {
  transition: transform 0.3s ease; 
}

.active {
  transform: rotate(180deg);
}
