.darker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
}

.modalContent {
  background-color: #fff;
  padding: 200px;
  border-radius: 20px;
}

.close {
  border: none;
  font-size: 3rem;
  font-size: 1.5vw;
  width: 19vw;
  padding: 0.4em;
  border: 3px solid #19746b;
  color: #19746b;
  border-radius: 10px;
  margin-top: 40px;
}

.text {
  font-size: 2vw;
  text-align: center;
}