.OverNavbar{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f4f4f0;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: row-reverse ;
    font-family: "Gotham Pro";
    font-weight: bold;
    a{
      color: #000;
    }
    p{
      display: flex;
      gap: 10px;
      align-items: center;
    }
    @media screen and (max-width: 767px) {
        display: none;
      }
}
