@import '../globalStyles.scss';

.OverNavbar{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f4f4f0;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: row-reverse ;
    font-family: "Open Sans";
    @media screen and (max-width: 1024px) {
        display: none;
      }
}
