.top-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #d8d8d8;
  bottom: 700px;
  right: 5vw;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  img {
    width: 100%;
  }
}

@keyframes arrowUp {
  0% {
    padding: 15px;
  }

  50% {
    padding: 0px 25px;
  }

  75% {
    padding: 25px 15px 25px 15px;
  }

  100% {
    padding: 15px;
  }
}

@keyframes arrowVisibility {
  0% {
    opacity: 1;
    transition: all 0.3s;
  }

  50% {
    opacity: 0;
    padding: 0 15px;
  }

  75% {
    opacity: 0;
    padding: -20px 15px;
  }

  100% {
    opacity: 1;
  }
}

.top-btn:hover {
  animation-name: arrowUp;
  animation-duration: 0.3s;
  img {
    animation: arrowVisibility 0.3s;
  }
}

.active {
  visibility: visible;
  opacity: 1;
  bottom: 100px;
  z-index: 99;
}
