.dropDown {
  position: relative;
  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    font-size: 20px;
    div {
      img {
        width: 100%;
        height: 100%;
        vertical-align:text-top;
      }
    }
    @media screen and (max-width: 1440px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }
  }

  .dropdown-content {
    background-color: #fff;
    padding: 3px;
    border-radius: 10px;
    display: none;
    gap: 5px;
    margin-top: 5px;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    width: 100%;
    button {
      background-color: #f5f7f2;
      border-radius: 7px;
      padding-right: 5vw;
      width: 100%;
      padding: 5px 10px;
    }
  }

  svg[alt="arrowDown"] {
    transition: all 0.3s;
  }
}