main {
  font-family: "Inter";

  .backToPrevious {
    display: none;
  }

  .AboutCompanyTitle,
  .AboutUsTitle {
    width: 80%;
    text-align: center;
    margin: 105px auto;
    font-size: 3vw;
  }
  .AboutCompanyTitle {
    padding: 75px 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background-color: #94ae9d;
      left: 0;
      top: 0;
    }
    &:after {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      background-color: #94ae9d;
      right: 0;
      bottom: 0;
    }
  }
  .AboutUsTitle {
    margin-bottom: 40px;
  }
  .AboutUsText {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 2vw;
    margin-bottom: 130px;
  }

  .car-convience,
  .car-convience-bottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .car-img {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .convience-list {
      width: 50%;
      font-size: 2vw;
      font-weight: 600;
      line-height: 3vw;
      letter-spacing: 2px;
      list-style: disc;

      li {
        margin-left: 10%;
      }
    }
  }

  .car-convience-bottom {
    width: 85%;
    display: flex;
    justify-content: end;
    margin: 0 auto;
    position: relative;
    .convience-list {
      width: 70%;
      left: 0;
      position: absolute;
    }
    .car-img {
      width: 40%;
    }
  }

  .car-infoList {
    width: 80%;
    text-align: left;
    margin: 100px auto;
    font-size: 2vw;

    li {
      margin-bottom: 30px;

      .receiveTitle {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  .bottomTitle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 3vw;
    margin-top: 200px;
    margin-bottom: 260px;
  }
}

@media screen and (max-width: 1025px) {
  main {
    .backToPrevious {
      margin-top: 30px;
      width: 18vw;
      display: flex;
      font-size: 3vw;
      letter-spacing: 1px;
      align-items: center;
      margin-left: 5%;

      span {
        margin-left: 5px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {

    .backToPrevious {
      margin-top: 0px;
    }

    .AboutCompanyTitle {
      padding: 40px 0;
      margin: 40px auto;
    }
    .AboutUsTitle {
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .AboutUsText {
      margin-bottom: 40px;
    }
    .car-infoList {
      width: 90%;
      margin: 40px auto;

      li {
        margin-bottom: 10px;

        .receiveTitle {
          margin-bottom: 5px;
        }
      }
    }
    .car-convience,
    .car-convience-bottom {
      display: block;

      .car-img {
        width: 90%;
      }

      .convience-list {
        width: 90%;
        letter-spacing: 1px;
        margin: 0 auto;
        font-size: 3vw;
        line-height: 5vw;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .car-convience-bottom {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      .convience-list {
        width: 100%;
        position: static;
      }
      .car-img {
        width: 100%;
      }
    }

    .bottomTitle {
      display: none;
    }
  }
}

@media screen and (max-width: 400px) {
  main {
    .AboutCompanyTitle {
      padding: 20px 0;
      margin: 20px auto;
    }
    .AboutUsTitle {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .AboutUsText {
      margin-bottom: 20px;
    }
    .car-infoList {
      margin: 20px auto;

      li {
        margin-bottom: 10px;

        .receiveTitle {
          margin-bottom: 5px;
        }
      }
    }
    .car-convience,
    .car-convience-bottom {
      .convience-list {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}
