footer {
  padding-bottom: 2vh;
  background-color: #00241b;
  font-family: "Montserrat";
  .logo {
    padding-left: 5vw;
    padding-top: 5vh;
  }
  a {
    color: #fff;
  }
  .footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 7vh;
    padding-bottom: 6vh;
    gap: 50px;

    .row-1,
    .row-2,
    .row-3,
    .row-4 {
      width: 20%;
      ul li:first-child {
        font-size: 1.8vw;
        font-weight: 600;
      }

      ul li a {
        transition: all 0.3s;
      }

      ul li :hover {
        color: #19746b;
      }

      ul li {
        color: #fff;
        font-family: "Montserrat";
        font-size: 1.3vw;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.44px;
        line-height: 55px;
        list-style-type: none;
        width: 100%;
      }
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    ul {
      list-style-type: none;
      display: flex;
    }

    li {
      margin-right: 1.8em;
    }

    li:last-child {
      margin-right: 0;
    }
  }
  // adaptive
  @media only screen and (min-width: 320px) and (max-width: 426px) {
    .footer-content {
      padding-bottom: 5vh;
      .row-1,
      .row-2,
      .row-3,
      .row-4 {
        width: calc(50% - 25px);
        margin: 0 -15px;
        ul li:first-child {
          font-size: 4vw;
        }
        ul li {
          font-size: 3.7vw;
          line-height: 1.5rem;
        }
      }
    }
    .social-media {
      margin-bottom: 2vh;
      ul li {
        margin-right: 1rem;
        img {
          width: 7vw;
        }
      }
    }
  }

  @media only screen and (min-width: 426px) and (max-width: 769px) {
    .footer-content {
      padding-bottom: 7vh;
      .row-1,
      .row-2,
      .row-3,
      .row-4 {
        width: calc(50% - 25px);

        ul li:first-child {
          font-size: 2.8vw;
        }
        ul {
          margin: 0 45px;
          li {
            font-size: 2.4vw;
            line-height: 2.5rem;
          }
        }
      }
    }

    .social-media {
      margin-bottom: 5vh;
      ul li {
        margin-right: 1rem;
        img {
          width: 4.5vw;
        }
      }
    }
  }
}
