footer {
  padding-bottom: 2vh;
  background-color: #000;
  font-family: "Montserrat";
  .logo {
    padding-left: 3vw;
    padding-top: 3vw;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5vh;
    padding-bottom: 6vh;
    .row-2,
    .row-3,
    .row-1 {
      margin-right: 6vw;
    }

    .row-1,
    .row-2,
    .row-3,
    .row-4 {
      ul li:first-child {
        font-size: 28px;
        font-weight: 600;
      }

      ul li a {
        transition: all 0.3s;
      }

      ul li a:hover {
        color: #fe9f31;
        transition: all 0.3s;
      }

      ul li {
        color: #fff;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0.44px;
        list-style-type: none;
        width: 20vw;
      }
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    ul {
      list-style-type: none;
      display: flex;
    }

    li {
      margin-right: 30px;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
