header {
  padding: 2vh 5vw;
  padding-top: 3vh;
  font-size: 1rem;
  background: #f4f4f0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 10;
  top: -200px;
  transition: all 0.3s ease;

}

.fixed {
  position: fixed;
  top: 0;
  transform: translateY(0);
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .col_6 {
    display: flex;
    align-items: center;
    .searchIco_div {
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      align-items: center;
      border: 1px solid #000;
    }
    input {
      font-family: "Gotham Pro";
      border: none;
      background-color: transparent;
      padding: 10px 10px;
      font-size: 16px;
    }
    .Links {
      margin-left: 30px;
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        font-size: inherit;
        font-family: "Gotham Pro";
        color: #000;
        transition: all 0.2s;
        border: none;
        &:hover {
          color: #19746b;
          transition: all 0.2s;
        }
      }
      a {
        font-family: "Gotham Pro";
        color: #000;
        transition: all 0.2s;
        &:hover {
          color: #19746b;
          transition: all 0.2s;
        }
      }
    }
  }
}
