header {
  padding: 2vh 5vw;
  font-size: 1.2rem;
  background: #f4f4f0;
  box-shadow: 0 0 5px #000;
  @media screen and (max-width: 1024px) {
    .pc-nav {
      display: none;
    }
    display: none;
  }
}

.row {
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .col-6 {
    display: flex;
    align-items: center;
    .searchIco_div {
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 0px 10px;
      align-items: center;
      border: 1px solid #000;
    }
    input {
      font-family: "Gotham Pro";
      border: none;
      background-color: transparent;
      padding: 10px 10px;
    }
    .Links{
      margin-left: 30px;
      display: flex;
      gap: 20px;
      a{
        font-family: "Gotham Pro";
        color: #000;
      }
    }
  }
}
