@import 'default_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: $font-montserrat;
}

button, a{
    cursor: pointer;
}

.row{
    display: flex;
}

a{
    color: #fff;
    text-decoration: none;
}