
.catalogs {
  width: 90%;
  margin: 0 auto;

  .catalogs-list {
    margin-bottom: 140px;
  }
  .catalogs-item {
    margin-top: 100px;
    list-style: none;

    .next-button {
      width: 288px;
      flex-shrink: 0;
      border-radius: 15px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.catalog-type-title {
  color: #000;
  font-family: "Inter";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}

.car-card-list {
  box-sizing: border-box;
  display: flex;
  overflow-x: scroll;
}

.car-card-list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .catalogs {
    .catalogs-list {
      margin-bottom: 100px;
    }
    .catalogs-item {
      margin-top: 100px;
      list-style: none;

      .next-button {
        width: 180px;
        border-radius: 15px;
      }
    }
  }

  .catalog-type-title {
    font-size: 35px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .catalogs {
    width: 100%;
    .catalogs-list {
      width: 90%;
      margin: 0 auto;
    }
    .catalogs-item {
      width: 100%;
      margin-top: 40px;
      list-style: none;

      .car-card-list {
        width: 100%;
      }

      .next-button {
        width: 180px;
        border-radius: 15px;
      }
    }
  }

  .catalog-type-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 405px) {
  .catalog-type-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}



