.container {
  justify-content: space-between;
  display: flex;
  background: linear-gradient(
    to right,
    transparent 62vw,
    #19746b 62vw,
    #19746b
  );
  height: 90vh;
}

.title {
  width: 40vw;
  font-size: 3vw;
  font-family: Montserrat;
  font-weight: 400;
  span {
    color: #19746b;
  }
}

.block {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 100%;
  }
}

.block-title {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.button {
  padding: 0.6rem 4rem 0.6rem 4rem;
  border-radius: 0.625rem;
  border: none;
  color: #fff;
  background: #19746b;
  cursor: pointer;
}

.button:active {
  background: #0f5c54;
}

@media (max-width: 768px) {
  .container {
    height: 30vh;
    display: flex;
    justify-content: center;
    background: none;
    img {
      display: none;
    }
  }

  .title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    text-wrap: balance;
    margin-top: 65px;
    text-transform: lowercase;
    span {
      text-transform: none;
    }
  }

  .block-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .button {
    font-weight: 200;
    padding: 0.5rem 2.2rem 0.5rem 2.2rem;
    border-radius: 1.82px;
  }
}

@media (max-width: 620px) {
  .title{
    font-size:6.4vw;
  }
}