.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 20vh;
}

.col_6 {
  width: 45%;
}

.button {
  border: none;
  font-size: 3rem;
  font-size: 1.5rem;
  width: 19vw;
  padding: 0.4em;
  border: 3px solid #19746B;
  color: #19746B;
  border-radius: 10px;
  float: right;
}


.title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Inter";
}

.text {
  font-family: "Gotham Pro";
  font-size: 1.5rem;
  margin: 20px 0 65px 0;
  width: 40vw;
}

.carImg img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 768px) {
  .col_6 {
    width: 100%;
  }

  .button {
    width: 60%;
    margin-top: 20px;
    padding: 0.4em;
  }

  .title,
  .text {
    width: 100%;
    margin: 10px 0; 
  }
  .title {
    font-size: 1.9rem; 
  }

}

@media screen and (max-width: 480px) {
  .container {
    width: 90%; 
  }

  .col-6 {
    width: 100%;
  }

  .button {
    width: 60%;
    margin-top: 15px; 
    padding: 0.4em;
  }

  .title {
    font-size: 1.2rem; 
  }

  .text {
    font-size: 1.5rem; 
    margin: 10px 0; 
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 90%; 
  }

  .col_6 {
    width: 100%;
  }

  .button {
    width: 60%;
    margin-top: 15px; 
    padding: 0.4em;
  }

  .title {
    font-size: 0.8rem; 
  }

  .text {
    font-size: 1.5rem; 
    margin: 10px 0; 
  }
}
