.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 20vh;
}

.col-6 {
  width: 45%;
}

.button {
  border: none;
  font-size: 3rem;
  font-size: 1.6rem;
  width: 19vw;
  padding: 0.4em;
  border: 2px solid #19746B;
  color: #19746B;
  border-radius: 5px;
  float: right;
}

.title,
.text {
  color: #000;
  font-family: Inter;
  font-weight: 400;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.text {
  font-size: 1.6rem;
  margin: 21px 0 65px 0;
  width: 40.4vw;
}

.carImg img {
  max-width: 100%;
  height: auto;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .button {
    width: 60%;
    margin-top: 20px;
    padding: 0.2em 1em;
    font-size: 1.4rem; 
  }

  .title,
  .text {
    width: 100%;
    margin: 10px 0; 
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%; 
  }

  .col-6 {
    width: 100%;
  }

  .button {
    width: 60%;
    margin-top: 15px; 
    padding: 0.1em 1em;
    font-size: 1rem;
  }
  .title {
    font-size: 1.2rem; 
    text-align: center;
  }

  .text {
    font-size: 0.8rem; 
    margin: 10px 0; 
    margin-left: 5px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 90%; 
  }

  .col-6 {
    width: 100%;
  }

  .button {
    width: 60%;
    margin-top: 15px; 
    padding: 0.1em 1em;
    font-size: 1rem;
  }
  .title {
    font-size: 0.8rem; 
    text-align: center;
  }

  .text {
    font-size: 0.5rem; 
    margin: 10px 0; 
    margin-left: 5px;
  }
}
