.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 8.125vw;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 50%)); 
  gap: 3.125vw;
  justify-content: center;
  margin-top: 17vh;
  margin-bottom: 10.666rem; 
}

.serviceItem {
  display: flex;
  align-items: center;
}

.serviceItem img {
  width: 165px; 
  height: 165px;
}

h1 {
  font-family: 'SemiBold';
  margin-top: 100px;
  align-self: flex-start; 
  font-size: 3.115rem;
}

.paragraph1, .paragraph2, .paragraph3, .paragraph4 {
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 1.9rem;
  margin-left: 1.875vw;
}

.span1, .span2, .span3, .span4 {
  display: block;
  font-size: 1.9rem; 
  margin-top: 15px;
  margin-left: 1.875vw;
  overflow: hidden;
  text-overflow: ellipsis;
   font-family: 'Montserrat';
}
